# Ignore node_modules in any subfolder
node_modules/

# Ignore compiled code
dist/
.output/
.nuxt/

# Ignore environment variables (sensitive data)
.env
.env.local

# Ignore OS specific files
.DS_Store
Thumbs.db

# Docker specific
pgdata/

*.md